.search-suggestions-container--block {

}

.search-suggestions-search-form-basic {
  display: flex;
}

.search-suggestions-search-form-basic .form-item-keys {
  display: flex;
  margin: 0;
}

.search-suggestions-search-form-basic .form-item-keys label {
  margin: 0;
}

.search-suggestions-search-form-basic .search-suggestions-submit {
  padding: 0.5em;
}
